<!-- Admin can select a class (group) from this list in order to update or delete the class. -->

<div class="title_center">
	<H3> Select a Class </H3>
</div>

<div class="reports">
	<% @groups.each do |group| %>
		<a href="<%= edit_group_path(group.id) %>"><h3><%= group.name %></h3></a>
	<% end %>
	<br>
</div>
<br>
<div  id="group_button" class="center_div">
		<%= button_to "Center Home", center_path(current_center), class: 'button_c', method: :get %>
</div>