<!-- Landing page, root path. -->

<div class="homediv">
	<h1 id="dco_title"> Day Care Ops </h1>
	<div class="user" >
		<a href="/parent-log-in"><img class="home" id="firstpic" src="assets/parents.jpg"></a>
		<h1>Parents</h1>
	</div>	
	<div class="user">	
		<a href="/teacher-log-in"><img class="home" id="midpic" src="assets/teacher_diverse.jpg"></a>
		<h1>Teachers<h1>	
	</div>
	<div class="user">
		<a href="/center-log-in"><img class="home" id="thirdpic" src="assets/center4.jpg"></a>
		<h1>Center</h1>
	</div>
</div>

	
	
	


