

<div class="homediv">
	<div class="user" >
		<a href="/parent-log-in"><img class="home" src="assets/parents.jpg"></a>
		<h1 id="spacing1">Parents</h1>
	</div>	
	<div class="user">	
		<a href="/teacher-log-in"><img class="home" id="midpic" src="assets/teacher.jpg"></a>
		<h1 id="spacing2">Teachers<h1>	
	</div>
	<div class="user">
		<a href="/center-log-in"><img class="home" src="assets/center.jpg"></a>
		<h1 id="spacing3">Center</h1>
	</div>
</div>

	
	
	


