


<div class="homediv">
	<img class="home" src="assets/parents.jpg">
	<img class="home" id="midpic" src="assets/teacher.jpg">
	<img class="home" src="assets/center.jpg">
</div>
<div id="user_type">
	<h1 id="spacing1" class="user">Parents</h1>
	<h1 id="spacing2" class="user">Teachers<h1>	
	<h1 id="spacing3" class="user">Center</h1>
</div>