<!-- Teacher selects their class before meal accounting. -->


<div id="meals_group">
	
	<h1>Meals Accounting</h1>
	
	
	<div id="group_select">
		<h2>Select Class</h2>
		<%= form_tag do %>
		 	<%= collection_select(:group, :id, Group.all, :id, :name, :prompt => false) %>
		 	<%= button_to "submit class", :class => 'f_submit' %>
		<% end %>
	</div>
 </div>







