
<div id="meals_group">
	<h1>Meal Accounting</h1>
	<br>
	<p>Select Your Class</p>

	<%= form_tag do %>
	 	<%= collection_select(:group, :id, Group.all, :id, :name, :prompt => true) %>
	 	<%= button_to "submit" %>
	<% end %>
 </div>







