<!-- Teacher selects their class before meal accounting. -->


<div id="meals_group">
	<br>
	<h1>Meals Accounting</h1>
	<!-- <br> -->
	
	<div id="group_select">
		<h2>Select Your Class</h2>
		<%= form_tag do %>
		 	<%= collection_select(:group, :id, Group.all, :id, :name, :prompt => true) %>
		 	<%= button_to "submit", :class => 'f_submit' %>
		<% end %>
	</div>
 </div>







