<!-- List of all teachers to select teacher to be updated or deleted. -->

<div class="title_center">
	<H2> Select a Teacher </H2>
</div>

<div class="reports">
	<% @teachers.each do |teacher| %>
		<a href="<%= edit_teacher_path(teacher.id) %>" ><h3>
			<%= teacher.name %></h3></a>
	<% end %>
	<br>
</div>
<br>
<div id="teacher_index" class="center_div">
		<%= button_to "Center Home", center_path(current_center), class: 'button_c', method: :get %>
</div>