
<form action="">
  <input type="radio" name="handoff" value="Arrive"> Drop Off<br>
  <input type="radio" name="handoff" value="Depart"> Pick Up<br>
</form>


<% @parent.children.each do |child| %>
	<%= child.fname %>
	<%= child.mname %>
	<%= child.lname %>

	<input type="checkbox" id="myCheck">
	<br>
<% end %>




