// Place all the styles related to the Centers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	font-family: arial;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
body {
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
}
#center_show {
	text-align: center;
	margin-top: 17vh;
	margin-bottom: 13vh;
	height: 70vh;
	padding: 0;
}
#center_show2 {
	padding-top: 5vh;
	margin-bottom: -2vh;
	margin-top: -2vh;
	position: relative;
}
#center_show h1 {
	font-size: 30px;
}
#center_show h2 {
	font-size: 25px;
}
#sub_title {
	margin-top: -20px;
}
.title_center {
	text-align: center;
	margin-top: 18vh;
	margin-bottom: -25px;
	padding: 0;
	font-size: 30px;
	margin-left: -.5vw;
	margin-right: .5vw;
}
.title_center h5 {
	margin-top: -4.5vh;
}
.sign_up {
	text-align: center;
	margin-top: 17vh;
	height: 30vh;
	margin-bottom: 10vh;
	width: 30vw;
	margin-left: 35vw;
	margin-right: 35vw;
}
.sign_up h1 {
	font-size: 2.8vw;
}
.parent_child {
	float: left;
	padding: 20px;
}
#center_logout {
	text-align: center;
}
.reports {				  /*standard div with scrolling*/
	margin-top: 0;
	margin-left: -1vw;
	text-align: center;
	position: relative;
	height: 40vh;
	overflow: scroll;
	overflow-x: hidden; 
}
.center_div {
	text-align: center;
	top: 90vh;
	height: 5vh;
	bottom: 5vh;
	width: 97vw;
	/*margin-left: 1vw;
	margin-right: -1vw;*/
}
#center_div2 {
	margin-left: -6px;
}
.report_line {
	font-size: 30px;
}
.backimg {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	bottom: 0;
	z-index: -999;
}
#back_hand {
	width: 100vw;
	height: 100vh;
	opacity: 1;
}
.notice {					/*blue flash msg displayed on right*/
	position: absolute;
	width: 18vw;
	margin-right: 15vw;
	margin-left: 70vw;
	margin-bottom: 55vh;
	margin-top: 8vh;
	height: 10vh;
	z-index: 999;
	padding: 5px;
	font-size: 1.4em;
	color: blue;
	text-decoration: bold;
}
.alert {					/*orange flash msg displayed on left*/
	position: absolute;
	width: 18vw;
	margin-left: 15vw;
	margin-right: 70vw;
	margin-bottom: 55vh;
	margin-top: 8vh;
	height: 10vh;
	z-index: 999;
	padding: 5px;
	font-size: 1.4em;
	color: orange;
	text-decoration: bold;
}
.button_t {						/*teacher red buttons*/
    background-color: #f44336;  
    border-radius: 50%;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1vw;
    margin-left: 1.1vw;
    margin-right: -1.1vw;
}
.button_p {
    background-color: #008CBA;  /*parent blue buttons*/
    border-radius: 50%;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1vw;
}
.button_c {
    background-color: #4CAF50;  /*center green buttons*/
    border-radius: 50%;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1vw;
}
.font_size_names {
	font-size: 1.5em;
}
.red {
	color: red;
	font-size: 25px;
}
.font_size {
	font-size: 20px;
}




