// Place all the styles related to the Centers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#center_show {
	text-align: center;
	margin-top: 125px;
}
.title_center {
	text-align: center;
	margin-top: 90px;
	padding: 0;
	font-size: 30px;
	
}
.sign_up {
	text-align: center;
	margin-top: 100px;
}
.parent_child {
	float: left;
	padding: 20px;
}
#family_forms {
	width: 30%;
	margin: 50px 34% 0 36%;
}#center_logout {
	text-align: center;
}
.reports {
	margin-top: 0;
	z-index: 0;
	text-align: center;
	position: relative;
	height: 350px;
	overflow: scroll;
}
.center_div {
	text-align: center;
	margin-top: 20px;
}
a {
	text-decoration: none;
}
/*#meal_title {
	z-index: 1;
	margin-top: 100px;
	position: fixed;
	text-align: center;
}*/