// Place all the styles related to the Children controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#attach_parent {
	text-align: center;
	margin-top: 20vh;
	height: 50vh;
	margin-bottom: 30vh;
}