// Place all the styles related to the Children controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.child_index {
	margin-left: 31vw;
}
.button_adjust {
	margin-top: 50vh;
	text-align: center;
}
#attach_parent {
	text-align: center;
	margin-top: 20vh;
	height: 50vh;
	margin-bottom: 30vh;
}
#child_bold {
	font-weight: bold;
	font-size: 1.5em;
}
#child_show {
	margin-left: 1.5vw;
	margin-right: -1.5vw;
}