// Place all the styles related to the families controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.family_forms {
	width: 100vw;
	height: 30vh;
	margin: 0% 34vw 0 36vw;
}
#families_index {
	text-align: center;
	margin-top: -30px;
}
.reports_family {
	margin-top: 0;
	text-align: center;
	position: relative;
	height: 40vh;
	overflow: scroll;
	overflow-x: hidden;
	float: left;
	width: 18vw;
	/*overflow-y: hidden;*/
}
#family_button {
	margin-left: .45vw;
	margin-right: -.45vw;
}
#f_update_button {
	/*text-align: center;*/
	width: 10vw;
	/*margin-bottom: 10%;*/
	top: 70vh;
	margin-left: 43vw;
	margin-right: 47vw;
	position: absolute;
}