.group_edit {
	margin-top: -20px;
}
#group_title {
	margin-left: .5vw;
	margin-right: -.5vw;
}
#group_align {
	margin-top: -1%;
}
#group_index {
	text-align: center;
	margin-top: 75px;
}
#group_update {
	text-align: center;
	margin-top: 200px;
}