// Place all the styles related to the Handoffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#handoff_form {
	text-align: center;
	margin-top: 150px;
	font-size: 30px;
	position: relative;

}