// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homediv {
	text-align: center;
	margin-top: 100px;
}

body {
	background-image: url("hands.jpg");
}
.user {
	display: inline-block;
}
#midpic {
	margin: 0 30px 0 30px;
}


