// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homediv {
	text-align: center;
	margin-top: 100px;
}
#midpic {
	margin: 0 30px 0 30px;
	z-index: 1;
}
body {
	background-image: url("background.jpg");
}
.user {
	float: left;
	font-size: 40px;
}
#user_type {
	margin-left: 460px;
}
#spacing1 {
	margin: 0 100px 0 -200px;
}
#spacing2 {
	margin: 0 95px 0 60px;
}
#spacing3 {
	margin: 0 100px 0 65px;
}

