// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login_form {
	text-align: center;
	margin-top: 45vh;
	height: 30vh;
	margin-bottom: 25vh;
	font-size: 30px;
	width: 100vw;
}
