// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login_form {
	text-align: center;
	margin-top: 300px;
	font-size: 35px;
}
