// Place all the styles related to the Teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_login {
	margin-top: -100px;
}